/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #FFF;

body {
  background-color: $primary-background;
  font-family: 'monserrat', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: 0.4 ease-out;
}

.title .logo {
  font-size: 48px;
  font-weight: 300;
  margin: 80px;
  color: #0A2A3B;
}

h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 20px;
  color: #0A2A3B;
}

.complete {
  margin: 50px;
  width: 100%;
}

.input__section {
  // width: 80%;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.section--one {
  background-color: #0A2A3B;
}

.section--two {
  background-color: #FFF;
}

.section--three {
  background-color: #e36521;
}

#input--one {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#e36521
}

#input--one::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--one:focus {
  background-color: rgba(255, 255, 255, 0)
}

#input--one-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

#input--one-two::placeholder {
  color: #FFF;
  opacity: 1;
}

#input--one-two:focus {
  background-color: rgba(255, 255, 255, 1)
}

#input--one-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#e36521
}

#input--one-three::placeholder {
  color: #FFF;
  opacity: 1;
}

#input--one-three:focus {
  background-color: rgba(255, 255, 255, 1)
}

#input--two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 16px 0px;
  border-bottom: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#e36521
}

#input--two::placeholder {
  color: #e36521;
  opacity: 1;
}

#input--two:focus {
  background-color: #0A2A3B;
  border-bottom: 3px solid #e36521;
}

#input--two-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

#input--two-two::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--two-two:focus {
  border-bottom: 3px solid #e36521;
}

#input--two-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

#input--two-three::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--two-three:focus {
  background-color:  #e36521;
  border-bottom: 3px solid #0A2A3B;
}

#input--three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--three::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--three:focus {
  background-color: rgba(255, 255, 255, 0)
}

#input--three-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--three-two::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--three-two:focus {
  background-color: rgba(255, 255, 255, 0)
}

#input--three-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--three-three::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--three-three:focus {
  background-color: rgba(255, 255, 255, 1)
}



#input--four {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:  #e36521
}

#input--four::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--four:focus {
  background-color: rgba(255, 255, 255, 0)
}

#input--four-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--four-two::placeholder {
  color: #FFF;
  opacity: 1;
}

#input--four-two:focus {
  background-color: rgba(255, 255, 255, 1)
}

#input--four-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #e36521;
}

#input--four-three::placeholder {
  color: #FFF;
  opacity: 1;
}

#input--four-three:focus {
  background-color: rgba(255, 255, 255, 1)
}


#input--five {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:  #e36521
}

#input--five::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--five:focus {
  background-color: #0A2A3B;
  border: 3px solid #e36521;
}

#input--five-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--five-two::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--five-two:focus {
  border: 3px solid #e36521;
}

#input--five-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

#input--five-three::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--five-three:focus {
  background-color:  #e36521;
  border: 3px solid #0A2A3B;
}




#input--six {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--six::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--six:focus {
  background-color: rgba(255, 255, 255, 0)
}

#input--six-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, .5);
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--six-two::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--six-two:focus {
  background-color: rgba(255, 255, 255, 0)
}

#input--six-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--six-three::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--six-three:focus {
  background-color: rgba(255, 255, 255, 1)
}



#input--seven {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #e36521;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:  #e36521
}

#input--seven::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--seven:focus {
  background-color: rgba(255, 255, 255, 0)
}

#input--seven-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #e36521;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--seven-two::placeholder {
  color: #FFF;
  opacity: 1;
}

#input--seven-two:focus {
  background-color: rgba(255, 255, 255, 1)
}

#input--seven-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #e36521;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #e36521;
}

#input--seven-three::placeholder {
  color: #FFF;
  opacity: 1;
}

#input--seven-three:focus {
  background-color: rgba(255, 255, 255, 1)
}


#input--eight {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 1px solid #0A2A3B;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:  #e36521
}

#input--eight::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--eight:focus {
  background-color: #0A2A3B;
  border: 1px solid #e36521;
}

#input--eight-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  border: 1px solid #0A2A3B;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--eight-two::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--eight-two:focus {
  border: 1px solid #e36521;
}

#input--eight-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  border: 1px solid #0A2A3B;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

#input--eight-three::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--eight-three:focus {
  background-color:  #e36521;
  border: 1px solid #0A2A3B;
}




#input--nine {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #0A2A3B;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--nine::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--nine:focus {
  background-color: rgba(255, 255, 255, 0)
}

#input--nine-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  outline: none;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid #0A2A3B;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--nine-two::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--nine-two:focus {
  background-color: rgba(255, 255, 255, 0)
}

#input--nine-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #0A2A3B;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
}

#input--nine-three::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#input--nine-three:focus {
  background-color: rgba(255, 255, 255, 1)
}



.button--one {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  // border: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px 0px 16px 0px;
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#e36521
}


.button--one:active {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px 16px;
}

#button--one-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  cursor: pointer;
}


#button--one-two:active{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 16px;
}

#button--one-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#e36521;
  cursor: pointer;
}

#button--one-three:active{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 16px;
}

#button--two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 16px 0px;
  border-bottom: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#e36521;
  cursor: pointer;
}

#button--two:active {
  background-color: #0A2A3B;
  border-bottom: 3px solid #e36521;
  border-top: 3px solid #e36521;
  border-radius: 0px 16px;
}

#button--two-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  cursor: pointer;
}

#button--two-two::placeholder {
  color: #0A2A3B;
  opacity: 1;
}

#button--two-two:active {
  border-bottom: 3px solid #e36521;
  border-top: 3px solid #e36521;
  border-radius: 0px 16px;
}

#button--two-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  cursor: pointer;
}

#button--two-three:active {
  background-color:  #e36521;
  border-bottom: 3px solid #0A2A3B;
  border-top: 3px solid #0A2A3B;
  border-radius: 0px 16px;
}

#button--three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
  cursor: pointer;
}


#button--three:active {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px 16px;
}

#button--three-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
  cursor: pointer;
}


#button--three-two:active {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px 16px;
}

#button--three-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
  cursor: pointer;
}


#button--three-three:active {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 16px;
}




#button--four {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#e36521;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

#button--four:hover #slide {
  left: 0;
  color: #e36521;
}

#button--four section {
  position: relative;
  color: #0A2A3B;
}


#button--four:active div {
  background-color: #FFF;
}

#slide {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}


#button--four-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

#button--four-two:hover #slide1 {
  left: 0;
  color: #e36521;
}

#button--four-two section {
  position: relative;
  color: #0A2A3B;
}


#button--four-two:active div {
  background-color: rgba(255, 255, 255, 1);
}


#slide1 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--four-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  // color:#e36521;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

#button--four-three:hover #slide2 {
  left: 0;
}

#button--four-three section {
  position: relative;
  color: #0A2A3B;
}

#button--four-three:active div {
  background-color: rgba(255, 255, 255, 1);
}

#slide2 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}



#button--five {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#e36521;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  background-color: #0A2A3B;
}

#button--five:hover #slide5-1 {
  left: 0;
  color: #e36521;
}

#button--five section {
  position: relative;
  color: #0A2A3B;
}


#button--five:active div {
  background-color: #FFF;
}

#slide5-1 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--five-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color:#FFF
}

#button--five-two:hover #slide5-2 {
  left: 0;
  color: #e36521;
}

#button--five-two section {
  position: relative;
  // color: #0A2A3B;
}


#button--five-two:active div {
  background-color: #0A2A3B;
}

#slide5-2 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--five-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

#button--five-three:hover #slide5-3 {
  left: 0;
  color: #e36521;
}

#button--five-three section {
  position: relative;
  color: #0A2A3B;
}


#button--five-three:active div {
  background-color: #FFF;
}

#slide5-3 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--six {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

#button--six:hover #slide6-1 {
  left: 0;
  color: #e36521;
}

#button--six section {
  position: relative;
  color: #0A2A3B;
}


#button--six:active div {
  background-color: #FFF;
}

#slide6-1 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--six-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, .5);
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

#button--six-two:hover #slide6-2 {
  left: 0;
  color: #e36521;
}


#button--six-two section {
  position: relative;
  color: #0A2A3B;
}


#button--six-two:active div {
  background-color: #FFF;
}

#slide6-2 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--six-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #e36521;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

#button--six-three:hover #slide6-3 {
  left: 0;
  color: #e36521;
}

#button--six-three section {
  position: relative;
  color: #e36521;
}

#button--six-three:active section {
  position: relative;
  color: #0A2A3B;
}


#button--six-three:active div {
  background-color: #FFF;
}

#slide6-3 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #0A2A3B;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}



#button--seven {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#e36521;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

#button--seven:hover #circle7-1 {
  left: 0;
  color: #e36521;
}

#button--seven section {
  position: relative;
  color: #0A2A3B;
}


#button--seven:active div {
  background-color: #FFF;
}

#circle7-1 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}


#button--seven-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

#button--seven-two:hover #circle7-2 {
  left: 0;
  color: #e36521;
}

#button--seven-two section {
  position: relative;
  color: #0A2A3B;
}


#button--seven-two:active div {
  background-color: rgba(255, 255, 255, 1);
}


#circle7-2 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--seven-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  // color:#e36521;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

#button--seven-three:hover #circle7-3 {
  left: 0;
}

#button--seven-three section {
  position: relative;
  color: #0A2A3B;
}

#button--seven-three:active div {
  background-color: rgba(255, 255, 255, 1);
}

#circle7-3 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}



#button--eight {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 3px solid #e36521;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color:#e36521;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  background-color: #0A2A3B;
}

#button--eight:hover #circle8-1 {
  left: 0;
  color: #e36521;
}

#button--eight section {
  position: relative;
  color: #0A2A3B;
}


#button--eight:active div {
  background-color: #FFF;
}

#circle8-1 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--eight-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  color:#FFF
}

#button--eight-two:hover #circle8-2 {
  left: 0;
  color: #e36521;
}

#button--eight-two section {
  position: relative;
  // color: #0A2A3B;
}


#button--eight-two:active div {
  background-color: #0A2A3B;
}

#circle8-2 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--eight-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

#button--eight-three:hover #circle8-3 {
  left: 0;
  color: #e36521;
}

#button--eight-three section {
  position: relative;
  color: #0A2A3B;
}


#button--eight-three:active div {
  background-color: #FFF;
}

#circle8-3 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--nine {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

#button--nine:hover #circle9-1 {
  left: 0;
  color: #e36521;
}

#button--nine section {
  position: relative;
  color: #0A2A3B;
}


#button--nine:active div {
  background-color: #FFF;
}

#circle9-1 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--nine-two {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, .5);
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #0A2A3B;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

#button--nine-two:hover #circle9-2 {
  left: 0;
  color: #e36521;
}


#button--nine-two section {
  position: relative;
  color: #0A2A3B;
}


#button--nine-two:active div {
  background-color: #FFF;
}

#circle9-2 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #e36521;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}

#button--nine-three {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #0A2A3B;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  color: #e36521;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

#button--nine-three:hover #circle9-3 {
  left: 0;
  color: #e36521;
}

#button--nine-three section {
  position: relative;
  color: #e36521;
}

#button--nine-three:active section {
  position: relative;
  color: #0A2A3B;
}


#button--nine-three:active div {
  background-color: #FFF;
}

#circle9-3 {
  width: 100%;
  height: 100%;
  left: -280px;
  background: #0A2A3B;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
  color: #0A2A3B;
}



main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
